*~
*.apk
*.swp
*.1
libs/jquery.json-2.2.min.js
libs/jstorage.min.js
libs/jquery-hotkeys.js
libs/libs-bundle.js
libs/LAB.js
libs/jquery-ui.js
libs/jquery.js
libs/libs-bundle-android.js
android/assets/www/
android/build.xml
android/bin
android/gen
android/local.properties
android/libs
po/*.json
migraineDiary-android.html
migraineDiary.android.js
migraineDiary.js
uistyle-jqt
libs/jquery.mobile.js
desktop.css
mobile.css
